<form class="flex flex-col justify-between gap-y-2 w-3/4 m-auto pb-4 min-h-[calc(100vh-6.5rem)]">
  <p class="mx-auto text-gray-400">{{ texts['thesis'] | localised }} {{ current_view() + 1 }} {{ texts['out_of'] | localised }} {{ theses.length }}</p>

  @for (thesis of theses; track $index) {
    <div [class.hidden]="$index !== current_view()">
      <app-thesis
        class="m-auto w-3/4"
        [thesis]="thesis"
        [form]="theses_form[$index]" />
    </div>
  }

  @let view = current_view();
  <div class="flex flex-row gap-x-4">
    <button
      [disabled]="view === 0"
      (click)="prev_thesis($event)"
      class="border border-neutral-200 group cursor-pointer  not-disabled:hover:bg-neutral-100 w-max px-4 py-2 rounded-xl mx-auto disabled:cursor-not-allowed disabled:bg-neutral-300"
    >
      <fa-icon class="inline-block transition-all sm:mr-1 group-hover:sm:-translate-x-1" [icon]="faArrowLeft" />
      <span class="hidden sm:inline-block">{{ texts['prev'] | localised }}</span>
    </button>

    <button
      (click)="skip_thesis($event)"
      class="border border-neutral-200 group cursor-pointer  hover:bg-neutral-100 w-max px-4 py-2 rounded-xl mx-auto flex flex-row"
    >
      <span>{{ texts['skip'] | localised }}</span>
      <fa-icon class="inline-block transition-all ml-1 group-hover:sm:scale-110 my-auto" [icon]="faXmark" />
    </button>

    <button
      [disabled]="theses_form[view]().value().answer === null"
      (click)="next_thesis($event)"
      class="border border-neutral-200 group cursor-pointer not-disabled:hover:bg-neutral-100 w-max px-4 py-2 rounded-xl mx-auto disabled:cursor-not-allowed disabled:bg-neutral-300"
    >
      @if (view !== theses.length - 1) {
        <span class="hidden sm:inline-block">{{ texts['next'] | localised }}</span>
        <fa-icon class="inline-block transition-all sm:ml-1 group-hover:sm:translate-x-1" [icon]="faArrowRight" />
      } @else {
        <span class="hidden sm:inline-block">{{ texts['complete'] | localised }}</span>
        <fa-icon class="inline-block sm:hidden transition-all sm:ml-1 group-hover:sm:scale-110" [icon]="faCheck" />
        <fa-icon class="hidden sm:inline-block transition-all sm:ml-1 group-hover:sm:translate-x-1" [icon]="faArrowRight" />
      }
    </button>
  </div>
</form>
